@charset "UTF-8";
html {
    font-size: 10px;
}
body {
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}
/*logo*/
#logo {
    width: 15vw;
    height: auto;
    margin: auto 0px;
}
/*video*/
video {
    width: 55vw;
    height: auto;
}
#video {
    text-align: center;
    background-color: #333;
}
/*navigation*/
#nav {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0;
}
#nav li {
    width: 160px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    opacity: 1.0;
}
#nav li a:hover {
    opacity: 0.5;
}
/*headline*/
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1::before, h1::after {
    content: "";
    flex-grow: 0.25;
    height: 3px;
}
h1::before {
    margin-right: 20px;
    background: linear-gradient(-90deg, #ff3300, #fff);
}
h1::after {
    margin-left: 20px;
    background: linear-gradient(90deg, #ff3300, #fff);
}
/*menu*/
.menuImg {
    width: 30vw;
    height: auto;
}
.button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 100px;
}
.button:hover {
    opacity: 0.8;
}
.popup {
    display: none;
}
.popup:checked + .overlay {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.overlay {
    display: none;
}
.window {
    width: 40vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 4px;
}
.close::before, .close::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #000;
    transform: rotate(45deg);
    transform-origin: 0% 50%;
    position: absolute;
    top: calc(14% - 5px);
    left: 14%
}
.close::after {
    transform: rotate(-45deg);
    transform-origin: 100% 50%;
    left: auto;
    right: 14%;
}
/*footer*/
#footer {
    padding: 5px 0px;
    text-align: center;
    background-color: #333;
    color: #fff;
}
#footer p {
    margin: 0;
}
/*centering*/
.textCenter {
    text-align: center;
}